# Godot 4+ specific ignores
.godot/
.android/
/addons
/Ignored
/ImageEditor
/Build

# Godot generated/imported assets
*.import
*.tmp
*.translation
export_presets.cfg
icon.svg*

# Visual Studio 2022 ignores
.vs/
*.vcxproj
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.opendb
*.obj
*.pdb
*.idb
*.ipch
*.db
*.cachefile
*.aps
*.dbmdl
*.bak
*.log
*.tlog
*.lastbuildstate
*.ilk
*.meta
*.iobj
*.ipdb
*.res
*.pch

# Rider / IntelliJ / JetBrains IDEs
.idea/
*.sln.iml
*.iws
*.iml
out/
cmake-build-*/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini
